<template>
    <select v-model="$i18n.locale">
      <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{ locale }}</option>
    </select>
    <h1>{{ $t('message.hello',{name:username}) }}</h1>
    <p>{{ $t('message.content') }}</p>
    <p>{{ $t("message.products",{count:5}) }}</p>
</template>

<script lang="ts" setup>
import { ref,Ref } from 'vue'

const username=ref('Javier')


</script>

<style scoped>

</style>